 .product-details{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 3em;
  }
  
  .price-wrapper{
    background-color: yellow;
    border-radius: 0.5em;
    height: 2em
  }
  
  .price-tag{
    margin:0.19em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }